/* You can add global styles to this file, and also import other style files */
body{
    background-color: #ff380078;
}
input.ng-invalid.ng-dirty{
    border: 1px solid rgb(255, 0, 0);
}
li:hover{
    cursor:pointer;
    background-color: #fbd3c8;
}